fastapi
uvicorn[standard]
pydantic
pydantic-settings # For loading .env files
celery[redis] # Adds celery and redis client library
asyncpg # Async driver for PostgreSQL


# Add other dependencies as needed later:
# SQLAlchemy
# GeoAlchemy2
# requests # For calling external APIs
# openai # Or other AI library clients